.container {
    position: relative;
    height: 100vh;
    background-color: #FFE6D4;
}

.pic {
    height: 36px;
    width: 36px;
}

.main {
    /*background-color: #eef;*/
    position: relative;
    height: calc(100% - 65px);
    z-index: 1;
    overflow-y: auto;
    
}

.list {
    position: relative;
    padding: 1rem;
}

.mainError {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: #E74C3C66;
}
.info {
    color: #999;
}

.control {

    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    box-shadow: none;
    align-items: end;
    margin-bottom: 0px;
}