.container {
    position: absolute;
    min-width: 40px;
    height: 40px;
    right: 7px;
    border-radius: 20px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px; /* this the one */
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
    transition: all 1.5s ease-in;
    background-color: #FFE6D4;
    
    /* border-width: 1px; */
    border-color: rgb(215, 199, 170);

}
.center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bars {
    position: relative;
    width: 50px;
    height: 16px;
}
.icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    overflow: hidden;
    font-size: 25px;
    color: white;
    margin-top: 3px;
}

.disabled {
    border-color: #e0e0e099;
}
.default {
    border-color: #b2b2b2;
}
.activate {
    border-color: #00D8FF;
}

.disabledColor {
    fill: #e0e0e099;
}
.defaultColor {
    fill: #b2b2b2;
}
.activateColor {
    fill: #00D8FF;
}

@media (prefers-color-scheme: dark) {

    .disabled {
        border-color: #E6E6E6;
    }
    .default {
        border-color: #656565;
    }
    .disabledColor {
        fill: #E6E6E6;
    }
    .defaultColor {
        fill: #ffffff;
    }
    
}