.container {
    position: absolute;
    min-width: 100vw;
    min-height: 200vh;
    border-radius: 50px;
    margin-inline: 0%;
    /* margin-top: 119vh; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px; /* this the one */
    border-style: solid;
    opacity: 1;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s ease-in;
    background-color: transparent;
}

.container2 {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    transition: all 0.25s ease-in;
    background-color: #f3d2b2;

}



.center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bars {
    position: relative;
    width: 50px;
    height: 16px;
}
.icon {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    color: white;
}



.disabled {
    border-color: #e0e0e099;
}
.default {
    border-color: #b2b2b2;
}
.activate {
    border-color: #00D8FF;
}

.disabledColor {
    fill: #e0e0e099;
}
.defaultColor {
    fill: #b2b2b2;
}
.activateColor {
    fill: #00D8FF;
}

@media (prefers-color-scheme: dark) {

    .disabled {
        border-color: #E6E6E6;
    }
    .default {
        border-color: #656565;
    }
    .disabledColor {
        fill: #E6E6E6;
    }
    .defaultColor {
        fill: #ffffff;
    }
    
}

.panelOpen {
    transition: all 1.5s ease-in 1.5s;
    /* Other styles for the open state */
}

/* Transition without delay for closing */
.panelClose {
    transition: all 1.5s ease-in;
    /* Other styles for the closed state */
}